:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: aquamarine;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    animation-name: fadeInOpacity;
    animation-duration: 1s;
    padding-top: 40vh;
}

.room-btns-container {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 200px;
}

.enter-username-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: white;
    height: 35px;
}

.username-input {
    color: white;
    text-decoration: none;
    text-align: center;
    border: 1px solid aquamarine;
    border-radius: 4px;
    background-color: #242424;
    width: 100%;
    height: 100%;
    padding: 0;
}

.create-room-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 37px;
}

.create-room-btn {
    color: white;
    background-color: #242424;
    text-decoration: none;
    border: 1px solid aquamarine;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.create-room-btn:hover {
    border: 1px solid aquamarine;
    background-color: aquamarine;
    color: #242424;
}

.join-room-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    border: 1px solid aquamarine;
    border-radius: 4px;
    width: 100%;
    height: 35px;
}

.join-room-input {
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 63%;
    height: 100%;
    background-color: #242424;
    padding: 0;
}

.join-room-btn {
    color: black;
    text-decoration: none;
    border: 1px solid aquamarine;
    border-right: none;
    border-radius: 4px;
    background-color: aquamarine;
    width: 33%;
    height: 100%;
}

.join-room-btn:hover {
    background-color: #434343;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    margin: 0;
}

.arc {
    width: 60px;
    height: 28px;
    border: 5px solid #f7941d;
    border-bottom: none;
    border-radius: 35px 35px 0 0;
    display: inline-block;
}

.cards-container {
    display: flex;
    flex-direction: row;
    min-height: 250px;
    margin-top: 10px;
    justify-content: center;
}

.card {
    border: 1px solid white;
    border-radius: 4px;
    width: 45px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.card:hover {
    background-color: aquamarine;
    color: #242424;
}

.card:active {
    background-color: grey;
    color: white;
}

.card-selected {
    background-color: aquamarine;
    color: #242424;
    transform: translateY(-5px);
}

.card-unselected {
    opacity: 0.5;
}

.card-locked-selected {
    background-color: indianred;
    color: white;
    transform: translateY(-5px);
}

.card-locked-not-selected {
    opacity: 0.3;
    cursor: not-allowed;
}

.card-locked {
    opacity: 0.3;
    cursor: not-allowed;
}

.estimate-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home-link {
    font-size: 24px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.card-container:not(:first-child) {
    margin-left: 10px;
}

.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid aquamarine;
    border-radius: 4px;
    height: 25px;
    margin-top: 8px;
    font-weight: bold;
    color: white;
}


.tooltip-text {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h3 {
        margin: 0;
        padding: 0;
    }
}

.lock-btn {
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: white;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-decoration: none;
    border: 1px solid aquamarine;
    border-radius: 8px;
    background-color: #242424;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
}

.lock-btn:hover {
    background-color: #434343;
}

.summary-value {
    font-weight: bold;
}

.whos-joined-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white
}

.joiner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.joiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid aquamarine;
    border-radius: 4px;
    font-weight: bold;
    width: 20px;
}

.voted {
    color: red;
}

.joiner:not(:first-child) {
    margin-left: 5px;
}

#room-code {
    color: white;
    font-weight: bold;
}
